<!--Cards page-->

<section class="products">
    <figure>
        <img src="img/cat.jpg" />
        <figcaption>
            <span class="name">Cat</span>
            <span class="price">$150</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/basic.jpg" />
        <figcaption>
            <span class="name">Basic</span>
            <span class="price">$112</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/happy-holidays.png" />
        <figcaption>
            <span class="name">Happy Holidays</span>
            <span class="price">$180</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/horse.jpg" />
        <figcaption>
            <span class="name">Horse</span>
            <span class="price">$120</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>