<!--
    Page with all categories - is loading after open index
    ---------------------------------------------------------------------------

    Links to each category are setting dynamically

    Products of category must be placed in html file with the same name as category name,
    But all symbols (&,#,@,spaces etc) in file name must be replaced by '-'.

    For example, for category 'Pens & Pencils' must be created html 'pens-pencils.html'
-->

<section class="big-section">
    <a href="#">
        <figure>
            <img src="img/t-shirts.jpg" alt="T-Shirts" />
            <figcaption>
                T-Shirts
            </figcaption>
        </figure>
    </a>

    <a href="#">
        <figure>
            <img src="img/cups.jpg" alt="Cups" />
            <figcaption>
                Cups
            </figcaption>
        </figure>
    </a>
</section>

<section>
    <a href="#">
        <figure>
            <img src="img/cards.jpg" alt="Cards" />
            <figcaption>
                Cards
            </figcaption>
        </figure>
    </a>

    <a href="#">
        <figure>
            <img src="img/toys.jpg" alt="Toys" />
            <figcaption>
                Toys
            </figcaption>
        </figure>
    </a>

    <a href="#">
        <figure>
            <img src="img/magnets.jpg" alt="Toys" />
            <figcaption>
                Magnets
            </figcaption>
        </figure>
    </a>
</section>

<section>
    <a href="#">
        <figure>
            <img src="img/pencils.jpg" alt="Pencils" />
            <figcaption>
                Pens & Pencils
            </figcaption>
        </figure>
    </a>

    <a href="#">
        <figure>
            <img src="img/bags.jpg" alt="Bags" />
            <figcaption>
                Bags
            </figcaption>
        </figure>
    </a>

</section>

<section class="row">

    <a href="#">
        <figure>
            <img src="img/notebooks.jpg" alt="Notebooks" />
            <figcaption>
                Notebooks
            </figcaption>
        </figure>
    </a>

    <a href="#">
        <figure>
            <img src="img/scrum.jpg" alt="Scrum cards" />
            <figcaption>
                Scrum cards
            </figcaption>
        </figure>
    </a>

    <a href="#">
        <figure>
            <img src="img/magnets.jpg" alt="Magnets" />
            <figcaption>
                Magnets
            </figcaption>
        </figure>
    </a>

    <a href="#">
        <figure>
            <img src="img/pencils.jpg" alt="Pencils" />
            <figcaption>
                Pens & Pencils
            </figcaption>
        </figure>
    </a>

    <a href="#">
        <figure>
            <img src="img/toys.jpg" alt="Toys" />
            <figcaption>
                Toys
            </figcaption>
        </figure>
    </a>
</section>

<section>
    <a href="#">
        <figure>
            <img src="img/cards.jpg" alt="Cards" />
            <figcaption>
                Cards
            </figcaption>
        </figure>
    </a>

    <a href="#">
        <figure>
            <img src="img/toys.jpg" alt="Toys" />
            <figcaption>
                Toys
            </figcaption>
        </figure>
    </a>

    <a href="#">
        <figure>
            <img src="img/magnets.jpg" alt="Magnets" />
            <figcaption>
                Magnets
            </figcaption>
        </figure>
    </a>
</section>
