<!--Magnets page-->

<section class="products">
    <figure>
        <img src="img/deutschland.jpg" />
        <figcaption>
            <span class="name">Deutchland</span>
            <span class="price">$150</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/sharks.jpg" />
        <figcaption>
            <span class="name">Sharks</span>
            <span class="price">$112</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/jerusalem.jpg" />
        <figcaption>
            <span class="name">Jerusalem</span>
            <span class="price">$80</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/new-york.jpg" />
        <figcaption>
            <span class="name">New York</span>
            <span class="price">$220</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>