<!--Pens and Pencils page-->

<section class="products">
    <figure>
        <img src="img/secret-garden.jpg" />
        <figcaption>
            <span class="name">Secret Garden</span>
            <span class="price">$250</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/black.jpg" />
        <figcaption>
            <span class="name">Black</span>
            <span class="price">$312</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/british.jpg" />
        <figcaption>
            <span class="name">British</span>
            <span class="price">$280</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/multicolor.jpg" />
        <figcaption>
            <span class="name">Multicolor</span>
            <span class="price">$220</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>