<!--Scrum cards page-->

<section class="products">
    <figure>
        <img src="img/devs.jpg" />
        <figcaption>
            <span class="name">Devs</span>
            <span class="price">$150</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/agile.jpg" />
        <figcaption>
            <span class="name">Agile</span>
            <span class="price">$112</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/hello-world.jpg" />
        <figcaption>
            <span class="name">Hello World</span>
            <span class="price">$180</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/redbooth.jpg" />
        <figcaption>
            <span class="name">Red Booth</span>
            <span class="price">$120</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>