<!--Toys page-->

<section class="products">
    <figure>
        <img src="img/captain-america.jpg" />
        <figcaption>
            <span class="name">Captain America</span>
            <span class="price">$450</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/lilo-stitch.jpg" />
        <figcaption>
            <span class="name">Lilo and Stitch</span>
            <span class="price">$512</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/minions.jpg" />
        <figcaption>
            <span class="name">Minions</span>
            <span class="price">$480</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>

<section class="products">
    <figure>
        <img src="img/spiderman.jpg" />
        <figcaption>
            <span class="name">Spiderman</span>
            <span class="price">$620</span>
        </figcaption>
    </figure>

    <div class="amount">
        <button type="button"><span>-</span></button>
        <label>
            <span>amount</span>
            <input type="text" name="amount" value="0" readonly>
        </label>
        <button type="button"><span>+</span></button>
    </div>
</section>