.blog .blog-item {
    background: #ecf4f7;
    padding-bottom: 60px;
    width: 100%;
}

.blog-item .blog-head {
    padding: 0;
    padding-top: 50px;
    margin: 0 auto;
}

.blog-item .blog-info {
    background: #ecf4f7;
}

.blog-item .blog-head a {
    display: inline-block;
    position: relative;
    font-family: AvenirNextCyr-Thin, sans-serif;
    font-size: 25px;
    color: #00a964;
    padding-left: 30px;
    text-decoration: none;
    overflow: hidden;
}

@-moz-document url-prefix() {
    .blog-item .blog-head a {
        font-family: AvenirNextCyr-Light, sans-serif;
    }
}

.blog-item .blog-head a:hover {
    text-decoration: none;
}

.blog-item .blog-head a:before {
    display: block;
    content: '';
    width: 13px;
    height: 21px;
    background: url("../images/arr-left-green.png") center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
}

.blog-item .blog-head a:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #00a964;
    position: absolute;
    left: 30px;
    bottom: 4px;
}

.blog-item .blog-head a:hover:after {
    -webkit-animation: inverse-line 0.5s linear;
    -moz-animation: inverse-line 0.5s linear;
    -o-animation: inverse-line 0.5s linear;
    animation: inverse-line 0.5s linear;

    -webkit-transform-origin: 44%;
    -moz-transform-origin: 44%;
    -ms-transform-origin: 44%;
    -o-transform-origin: 44%;
    transform-origin: 30%;

    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.blog-item .blog-head h1 {
    color: #353b41;
    margin-top: 20px;
    font-size: 6.2em;
    line-height: normal;
}

.blog-item .blog-info .main-tag,
.blog-item .blog-info .blog-date,
.blog-item .blog-info .blog-comm,
.blog-item .blog-info .blog-notime {
    padding: 0;
    font-style: normal;
    color: #353b41;
    font-family: Roboto-Light, sans-serif;
    font-size: 1.4em;
}

.blog-item .blog-info .blog-date,
.blog-item .blog-info .blog-comm {
    margin-top: 18px;
}

.blog-item .blog-info .blog-notime {
    clear: both;
}

.blog-item .blog-info .blog-comm {
    text-align: right;
}

.blog-item .blog-info span,
.blog-item .blog-info a {
    display: inline-block;
}

.blog-item .blog-info .main-tag span {
    display: inline-block;
    background: #00a964;
    color: white;
    padding: 11px 14px;
    margin: 0;
    margin-top: 20px;
}

.blog-item .blog-info .blog-date .blog-date-cont {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    margin-bottom: 8px;
}

.blog-item .blog-info .blog-date .blog-date-cont:before {
    content: "\f073";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    color: #b3bcd0;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.blog-item .blog-info .blog-date span {
    margin-right: 30px;
}

.blog-item .blog-info .blog-date a {
    font-family: Roboto-Med, sans-serif;
    text-decoration: none;
    color: #00a964;
    border-bottom: 1px solid #00a964;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    margin-bottom: 18px;
}

.blog-item .blog-info .blog-date a:hover {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: #00804d;
}

.blog-item .blog-info .blog-comm .blog-comm-cont {
    position: relative;
    display: inline-block;
}

.blog-item .blog-info .blog-comm a {
    text-decoration: none;
    padding-left: 25px;
    color: #353b41;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.blog-item .blog-info .blog-comm a:before {
    text-decoration: none;
    content: "\f086";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    color: #b3bcd0;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.blog-item .blog-info .blog-comm a:hover {
    color: #00a964;
}

.blog-item .blog-info .blog-comm a:hover:before {
    color: #00804d;
}

.blog-item .blog-info .blog-notime .blog-notime-cont {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 8px;
    padding-left: 25px;
}

.blog-item .blog-info .blog-notime .blog-notime-cont:before {
    content: "\f017";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    color: #b3bcd0;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.blog-item .blog-info .blog-notime .blog-notime-cont span {
    font-weight: normal;
    font-family: Roboto-Med, sans-serif;
}

.blog-item .blog-info .blog-notime a,
.blog-item .blog-info .blog-notime a:visited {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 20px;

    border: 2px solid #00a964;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    font: 1.0em/2.0em AvenirNextCyr-Reg, sans-serif;
    color: #00a964;
    text-decoration: none;

    background: transparent;

    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
}

.blog-item .blog-info .blog-notime a:hover,
.blog-item .blog-info .blog-notime a:active {
    background: #00a964;
    color: white;
}

-moz-document url-prefix() {
.blog-item .blog-info .main-tag,
.blog-item .blog-info .blog-date,
.blog-item .blog-info .blog-comm,
.blog-item .blog-info .blog-notime,
.blog-item .blog-info .blog-notime a {
    font-family: Roboto-Reg, sans-serif;
}
}

.notime-services {
    position: relative;
    background-color: #00a964;
    padding: 15px 0 40px 0;
    margin: 40px 0 20px 0;
    text-align: center;
    display: none;
    clear: both;
}

.notime-services h4 {
    font-family: AvenirNextCyr-Thin, sans-serif;
    color: white;
    line-height: normal;
    font-size: 3.6em;
}

.notime-services .notime-service {
    margin-top: 30px;
}

.notime-services .notime-service:nth-of-type(2) {
    padding-left: 100px;
}

.notime-services .notime-service:nth-of-type(4) {
    padding-right: 100px;
}

.notime-services .notime-service a {
    display: inline-block;
    position: relative;
    height: 195px;
    width:  150px;
    background-position: left 0px bottom 45px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.notime-services .notime-service:nth-of-type(2) a {
    background-image: url('../images/notime-email.png');
}

.notime-services .notime-service:nth-of-type(2) a:hover {
    background-image: url('../images/notime-email-a.png');
}

.notime-services .notime-service:nth-of-type(3) a {
    background-image: url("../images/notime-flipboard.png");
}

.notime-services .notime-service:nth-of-type(3) a:hover {
    background-image: url("../images/notime-flipboard-a.png");
}

.notime-services .notime-service:nth-of-type(4) a {
    background-image: url("../images/notime-pocket.png");
}

.notime-services .notime-service:nth-of-type(4) a:hover {
    background-image: url("../images/notime-pocket-a.png");
}

.notime-services .notime-service span {
    font-family: AvenirNextCyr-Light, sans-serif;
    font-size: 2.0em;
    line-height: normal;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -ms-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.notime-services .notime-service a:hover {
    -webkit-animation: 0.5s pulse;
    -moz-animation: 0.5s pulse;
    -o-animation: 0.5s pulse;
    animation: 0.5s pulse;
}

.notime-services .notime-service a:hover span {
    color: #e3ff24;
}

.notime-email {
    padding-top: 30px;
    display: none;
    clear: both;
}

#sendOnEmail {
    position: relative;
    z-index: 1;
}

#sendOnEmail > div {
    position: relative;
}

#sendOnEmail input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-family: AvenirNextCyr-Reg, sans-serif;
    font-size: 1.6em;
    color: white;
    line-height: 2.5em;
}

#sendOnEmail input[type="email"] {
    height: 44px;
}

#sendOnEmail input:-moz-placeholder {
    font-family: AvenirNextCyr-Reg, sans-serif;
    color: white;
}

#sendOnEmail input::-moz-placeholder {
    font-family: AvenirNextCyr-Reg, sans-serif;
    color: white;
}

#sendOnEmail input:-ms-input-placeholder {
    font-family: AvenirNextCyr-Reg, sans-serif;
    color: white;
}

#sendOnEmail input::-webkit-input-placeholder {
    font-family: AvenirNextCyr-Reg, sans-serif;
    color: white;
}

#sendOnEmail input[placeholder] {
    font-family: AvenirNextCyr-Reg, sans-serif;
    color: white;
}

#sendOnEmail input[type="submit"] {
    /*display: inline-block;*/
    /*padding: 0 35px;*/
    margin-bottom: 0;
    border: 2px solid white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    /*font: 1.4em/45px AvenirNextCyr-Reg, sans-serif;*/
    color: white;
    /*text-decoration: none;*/
    background: transparent;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
}

@-moz-document url-prefix() {
    #sendOnEmail input[type="submit"] {
        font-family: Roboto-Reg, sans-serif;
    }
}

#sendOnEmail label {
    font-family: AvenirNextCyr-Reg, sans-serif;
    color: white;
    font-size: 1.6em;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 20px;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease-out all;
}

@-moz-document url-prefix() {
    #sendOnEmail label {
        font-family: Roboto-Light, sans-serif;
    }
}

#sendOnEmail input:valid ~ label,
#sendOnEmail input:focus:invalid ~ label {
    top: -20px;
    left: 15px;
    font-size: 1.5em;
    color: #e3ff24;
}

#sendOnEmail input[type="submit"]:hover {
    background: white;
    color: #00a964;

}

.blog-item .blog-content {
    background: white;
    margin: 10px auto 10px auto;
    padding: 50px;
    max-width: 1188px;
    text-align: left;
    clear: both;
}

.blog-item .blog-content h2 {
    font-family: AvenirNextCyr-Light, sans-serif;
    color: #353b41;
    font-size: 4.0em;
    margin: 40px 0;
    line-height: normal;
}

.blog-item .blog-content p, .blog-item .blog-content li {
    font-weight: normal;
    font-family: AvenirNextCyr-Reg, sans-serif;
    color: #353b41;
    font-size: 1.8em;
    line-height: 25px;
    margin-bottom: 25px;
}

.blog-item .blog-content a, .blog-item .blog-content a:visited {
    text-decoration: underline;
    color: #00a964;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.blog-item .blog-content a:hover, .blog-item .blog-content a:active {
    text-decoration: none;
    color: #00804d;
}

.blog-item .blog-content figure {
    display: table;
    margin: 35px auto;
}

.blog-item .blog-content img {
    width: 100%;
    max-width: 100%;
}

.blog-item .blog-content figcaption {
    display: table-caption;
    caption-side: bottom;
    font-weight: normal;
    font-style: italic;
    font-family: AvenirNextCyr-Reg, sans-serif;
    text-align: center;
    color: #353b41;
    font-size: 1.5em;
    line-height: 20px;
    margin: 15px;
}

.blog-item .blog-content blockquote {
    font-weight: normal;
    font-family: AvenirNextCyr-Reg, sans-serif;
    color: #353b41;
    font-size: 1.2em;
    border-color: #00a964;
    margin-bottom: 35px;
}

.blog-item .blog-content blockquote > p {
    margin-left: 10px;
    line-height: 1.25em;
}

.blog-item .blog-content blockquote > p:last-child {
    margin-bottom: 0;
}

.data-headed tr:nth-child(odd),
.data-nohead tr:nth-child(odd) {
    background-color: #ecf4f7;
}

.data-headed tr:nth-child(even),
.data-nohead tr:nth-child(even) {
    background-color: #ffffff;
}

.data-headed td,
.data-nohead td {
    font-family: AvenirNextCyr-Reg, sans-serif;
    font-weight: normal;
    font-size: 1.6em;
    color: #353b41;
    padding: 5px 20px;
    vertical-align: top;
}

.data-headed th {
    font-family: AvenirNextCyr-Demi, sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    color: #ffffff;
    background-color: #00a964;
    padding: 25px 20px 5px 20px;
    vertical-align: bottom;
}

@-moz-document url-prefix() {
    .blog-item .blog-content {
        font-family: Roboto-Light, sans-serif;
    }
}

section.feedback {
    margin-top: 0;
}

.blog-item .blog-item-tags {
    margin-top: 70px;
}

.blog-item .blog-item-tags h2 {
    margin-bottom: 10px;
}

.blog-item-tags ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    clear: both;
}

.blog-item .blog-item-tags ul li {
    display: inline-block;
    font-family: Roboto-Light, sans-serif;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    margin: 15px 15px 0 0;
}

.blog-item .blog-item-tags li a {
    display: block;
    background: #ecf4f7;
    border: solid 1px transparent;
    color: #353b41;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 11px 14px;
    position: relative;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.blog-item .blog-item-tags li a:hover {
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    background: white;
    border: solid 1px #00a964;
    color: #353b41;
}

.blog-item .blog-item-tags > ul > li:first-child a {
    background: #00a964;
    border: solid 1px transparent;
    color: white;
}

.blog-item .blog-item-tags > ul > li:first-child a:hover {
    background-color: white;
    border: solid 1px #00a964;
    color: #353b41;
}

@-webkit-keyframes inverse-line {
    from {
        -webkit-transform: scalex(1);
        -o-transform: scalex(1);
        transform: scalex(1);
    }

    50% {
        -webkit-transform: scalex(0);
        -o-transform: scalex(0);
        transform: scalex(0);
    }

    to {
        -webkit-transform: scalex(1);
        -o-transform: scalex(1);
        transform: scalex(1);
    }
}

@-moz-keyframes inverse-line {
    from {
        -moz-transform: scalex(1);
        transform: scalex(1);
    }

    50% {
        -moz-transform: scalex(0);
        transform: scalex(0);
    }

    to {
        -moz-transform: scalex(1);
        transform: scalex(1);
    }
}

@keyframes inverse-line {
    from {
        -webkit-transform: scalex(1);
        -moz-transform: scalex(1);
        -ms-transform: scalex(1);
        -o-transform: scalex(1);
        transform: scalex(1);
    }

    50% {
        -webkit-transform: scalex(0);
        -moz-transform: scalex(0);
        -ms-transform: scalex(0);
        -o-transform: scalex(0);
        transform: scalex(0);
    }

    to {
        -webkit-transform: scalex(1);
        -moz-transform: scalex(1);
        -ms-transform: scalex(1);
        -o-transform: scalex(1);
        transform: scalex(1);
    }
}

@media screen and (max-width: 1250px) {
    .blog-item .blog-info {
        margin: 0 30px;
    }

    .blog-item .blog-head h1 {
        font-size: 5.0em;
    }

    .blog-item .blog-content {
        margin: 10px 15px 10px 15px;
        padding: 45px;
    }

    .blog-item .blog-content h2 {
        font-size: 3.5em;
        margin: 35px 0;
    }

    .blog-item .blog-item-tags h2 {
        margin-bottom: 10px;
    }

    .blog .blogs h3 {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 1150px) {
    .blog-item .blog-head h1 {
        font-size: 4.3em;
    }

    .blog-item .blog-content {
        padding: 35px;
    }

    .blog-item .blog-content h2 {
        font-size: 3.2em;
        margin: 30px 0;
    }

    .blog-item .blog-content p, .blog-item .blog-content li {
        font-size: 1.7em;
        line-height: 23px;
        margin-bottom: 23px;
    }

    .blog-item .blog-item-tags h2 {
        margin-bottom: 10px;
    }

    .blog-item .blog-item-tags ul li {
        font-size: 1.3em;
        margin: 12px 12px 0 0;
    }

    .blog-item .blog-item-tags li a {
        padding: 9px 12px;
    }

    .blog .blogs h3 {
        font-size: 3.2em;
    }
}

@media screen and (max-width: 1040px) {
    .blog-item .blog-head a {
        font-size: 20px;
        font-family: AvenirNextCyr-Light, sans-serif;
    }
}

@media screen and (max-width: 993px) {
    .blog-item .blog-info {
        margin: 0 20px;
    }

    .blog-item .blog-content {
        margin: 10px 20px 10px 20px;
    }

    .blog-item .blog-content h2 {
        font-size: 2.8em;
        margin: 30px 0;
    }

    .blog-item .blog-item-tags h2 {
        margin-bottom: 10px;
    }

    .blog .blogs h3 {
        font-size: 2.8em;
        margin: 30px 0;
    }

    .blog-item .blog-content p, .blog-item .blog-content li {
        font-size: 1.6em;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .blog-item .blog-content blockquote {
        margin-bottom: 20px;
    }

    .blog-item .blog-content figure {
        margin: 35px auto 20px auto;
    }

    .blog-item .blog-content figcaption {
        font-size: 1.4em;
        line-height: 18px;
    }

    .data-headed td,
    .data-nohead td {
        font-size: 1.4em;
        padding: 4px 15px;
    }

    .data-headed th {
        font-size: 1.4em;
        padding: 25px 15px 4px 15px;
    }

    .blog-item .blog-item-tags ul li {
        font-size: 1.2em;
        margin: 10px 10px 0 0;
    }

    .blog-item .blog-item-tags li a {
        padding: 8px 10px;
    }
}

@media screen and (max-width: 935px) {
    .blog-item .blog-head h1 {
        font-size: 3.8em;
    }

    .notime-services {
        padding: 10px 0 25px 0;
    }

    .notime-services h4 {
        font-size: 2.8em;
    }

    .notime-services .notime-service {
        margin-top: 20px;
    }

    .notime-services .notime-service:nth-of-type(2) {
        padding-left: 50px;
    }

    .notime-services .notime-service:nth-of-type(4) {
        padding-right: 50px;
    }

    .notime-services .notime-service a {
        height: 155px;
        width:  120px;
        background-position: left 0px bottom 35px;
    }

    .notime-services .notime-service span {
        font-size: 1.6em;
    }

    .notime-email {
        padding-top: 25px;
    }

    #sendOnEmail input {
        font-size: 1.4em;
    }

    #sendOnEmail label {
        font-size: 1.4em;
    }

    #sendOnEmail input[type="email"] {
        height: 41px;
    }

    #sendOnEmail input:valid ~ label,
    #sendOnEmail input:focus:invalid ~ label {
        top: -15px;
        left: 15px;
        font-size: 1.2em;
        color: #e3ff24;
    }
}

@media screen and (max-width: 850px) {
    .blog-item-tags ul {
        text-align: center;
    }

    .blog-item .blog-item-tags ul li {
        font-size: 1.4em;
        margin: 10px 1px 0 0;
    }

    .blog-item .blog-item-tags li a {
        padding: 0 10px;
        background: #00a964 !important;
        color: white !important;
    }

    .blog-item .blog-item-tags li a:hover {
        background: #00a964 !important;
        color: white !important;
    }

    .data-headed td,
    .data-nohead td {
        padding: 4px 10px;
    }

    .data-headed th {
        padding: 25px 10px 4px 10px;
    }
}

@media screen and (max-width: 768px) {
    .blog-item .blog-content {
        margin: 10px 0 10px 0;
    }

    .notime-services {
        padding: 5px 0 20px 0;
    }

    .notime-services h4 {
        font-size: 2.4em;
    }

    .notime-services .notime-service {
        margin-top: 15px;
    }

    .notime-services .notime-service:nth-of-type(2) {
        padding-left: 30px;
    }

    .notime-services .notime-service:nth-of-type(4) {
        padding-right: 30px;
    }

    .notime-services .notime-service a {
        height: 120px;
        width:  90px;
        background-position: left 0px bottom 30px;
    }

    .notime-services .notime-service span {
        font-size: 1.5em;
    }

    #sendOnEmail input {
        font-size: 1.6em;
    }

    #sendOnEmail label {
        font-size: 1.6em;
    }

    #sendOnEmail input[type="email"] {
        height: 44px;
        margin-bottom: 30px;
    }

    #sendOnEmail input:valid ~ label,
    #sendOnEmail input:focus:invalid ~ label {
        top: -20px;
        left: 15px;
        font-size: 1.5em;
        color: #e3ff24;
    }

    .data-headed td,
    .data-nohead td {
        font-size: 1.2em;
        padding: 4px 5px;
    }

    .data-headed th {
        font-size: 1.2em;
        padding: 20px 5px 4px 5px;
    }
}

@media screen and (max-width: 640px) {
    .blog-item .blog-head a {
        font-size: 18px;
    }

    .blog-item .blog-info {
        margin: 0 15px;
    }

    .blog-item .blog-content {
        margin: 0 0 10px 0;
    }

    .blog-item .blog-head h1 {
        font-size: 2.9em;
    }

    .blog-item .blog-info .main-tag,
    .blog-item .blog-info .blog-date,
    .blog-item .blog-info .blog-comm,
    .blog-item .blog-info .blog-notime {
        font-size: 1.2em;
    }

    .blog-item .blog-info .main-tag span {
        padding: 8px 10px;
        margin-top: 18px;
    }

    .blog-item .blog-info .blog-date .blog-date-cont:before,
    .blog-item .blog-info .blog-comm a:before,
    .blog-item .blog-info .blog-notime .blog-notime-cont:before {
        top: -2px;
    }

    .data-headed td,
    .data-nohead td {
        font-size: 1.0em;
        padding: 3px;
    }

    .data-headed th {
        font-size: 1.0em;
        padding: 18px 3px 3px 3px;
    }
}

@media screen and (max-width: 480px) {
    .blog-item .blog-info {
        margin: 0 10px;
    }

    .notime-services {
        padding: 5px 0 20px 0;
    }

    .notime-services h4 {
        font-size: 2.0em;
    }

    .notime-services .notime-service {
        margin-top: 12px;
    }

    .notime-services .notime-service:nth-of-type(2) {
        padding-left: 20px;
    }

    .notime-services .notime-service:nth-of-type(4) {
        padding-right: 20px;
    }

    .notime-services .notime-service a {
        height: 85px;
        width:  60px;
        background-position: left 0px bottom 25px;
    }

    .notime-services .notime-service span {
        font-size: 1.3em;
        text-transform: none;
    }

    .notime-email {
        padding-top: 20px;
    }

    .blog-item .blog-head h1 {
        font-size: 2.8em;
    }

    .blog-item .blog-head a {
        font-size: 17px;
    }

    .blog-item .blog-info .blog-date span {
        margin-right: 20px;
    }

    .blog-item .blog-content {
        margin: 10px 10px 10px 10px;
        background: #ecf4f7;
        padding: 0;
    }

    .blog-item .blog-content figure {
        margin: 35px auto 10px auto;
    }

    .blog-item .blog-content figcaption {
        margin-bottom: 10px;
    }

    table.data-headed,
    table.data-nohead {
        display: block;
        border: 2px solid #00a964;
    }

    .data-headed th {
        display: none;
    }

    .data-headed td {
        display: inline-block;
        position: relative;
        border: none;
        width: 100%;
        padding: 5px;
        padding-left: 50%;
        font-size: 1.4em;
    }

    .data-headed td:before {
        display: block;
        position: absolute;
        font-weight: bold;
        top: 5px;
        left: 5px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .data-headed tr:nth-child(odd) td {
        border-bottom: 1px solid #ffffff;
    }

    .data-headed tr:nth-child(even) td {
        border-bottom: 1px solid #ecf4f7;
    }

    .data-headed tr:last-child td:last-child {
        border-bottom: none;
    }

    .data-nohead td {
        display: inline-block;
        border: none;
        width: 100%;
        padding: 5px;
        font-size: 1.4em;
    }

    .data-nohead tr:nth-child(odd) td {
        border-bottom: 1px solid #ecf4f7;
        background-color: #ffffff;
    }

    .data-nohead tr:nth-child(even) td {
        border-bottom: 1px solid #ffffff;
        background-color: #ecf4f7;
    }

    .data-nohead tr:last-child td:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width: 432px) {
    .notime-email {
        padding-top: 20px;
    }

    .blog-item .blog-info .blog-date span {
        margin-right: 10px;
    }

    .blog-item .blog-info .blog-date a {
        margin-right: 10px;
    }

    .notime-services {
        padding: 5px 0 20px 0;
    }

    .notime-services h4 {
        font-size: 1.9em;
    }

    .notime-services .notime-service {
        margin-top: 10px;
    }

    .notime-services .notime-service:nth-of-type(2) {
        padding-left: 10px;
    }

    .notime-services .notime-service:nth-of-type(4) {
        padding-right: 10px;
    }

    .notime-services .notime-service a {
        height: 72px;
        width:  50px;
        background-position: left 0px bottom 22px;
    }

    .notime-services .notime-service span {
        font-size: 1.2em;
        text-transform: none;
    }

    .notime-email {
        padding-top: 18px;
    }

    #sendOnEmail input {
        font-size: 1.4em;
    }

    #sendOnEmail label {
        font-size: 1.4em;
    }

    #sendOnEmail input[type="email"] {
        height: 41px;
        margin-bottom: 20px;
    }

    #sendOnEmail input[type="submit"] {
        font-size: 1.2em;
    }

    #sendOnEmail input:valid ~ label,
    #sendOnEmail input:focus:invalid ~ label {
        top: -10px;
        left: 15px;
        font-size: 1.2em;
        color: #e3ff24;
    }

    .data-headed td,
    .data-nohead td {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 350px) {
    .blog-item .blog-head h1 {
        font-size: 2.0em;
    }

    .data-headed td,
    .data-nohead td {
        font-size: 1.2em;
    }
}